@import "tailwindcss";

/*LOGIN*/

.body-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container{
    padding: 20px;
    border-radius: 30px;
    width: 35%; 
    max-width: 500px;
}

.form-container {
    text-align: center;
    margin: 0 auto; 
}

.login-title{
    text-align: center;
}