@import "tailwindcss";

body{
    margin: 0px;
}

.title{
    display: block;
    font-size: 2rem;
    font-weight: bold;
    unicode-bidi: isolate;
}

.header{
    display: flex;
    flex-direction: row;
    height: 4rem;
    max-height: 5rem;
    min-height: 3rem;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: blue;
}

.header-element{
    padding-left: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}